/*Legend specific*/

  /* text color of the legend label and line weight*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/

    /*vertical height of legend*/
    line-height: 24px;

    /*text color*/
    color: rgb(0, 0, 0);
  }

  /*legend header text*/
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: rgb(0, 0, 0);
  }
  
  /*spacing of spans inside legend*/
  .legend span {
    position: relative;
    bottom: 3px;
  }
  
  /* legend icons color boxes*/
  .legend i {
    width: 20px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
    /* 
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
  */
  
  .legend .circle {
    background-color: #CB3B27;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 1px #888;
  }